Chronic Psychitis
https://slatestarcodex.com/2015/01/05/chronic-psychitis/
Uncategorized
medicine;psychiatry
Some people have asked my opinion on a recent spate of articles like Is Depression Partly Caused By An Allergic Reaction? and Depression May Be Caused By Inflammation.
Standard disclaimer: I'm not a researcher in this field, I'm not board-certified as a full psychiatrist yet, and what I remember of biochemistry is limited to being pretty sure there's something called a "Krebs cycle" involved somewhere. That having been said:
This is pretty legit.
Start with From inflammation to sickness and depression, Dantzer et al (2008), who note that being sick makes you feel lousy [citation needed]. Drawing upon evolutionary psychology, they theorize this is an adaptive response to make sick people stay in bed (or cave, or wherever) so the body can focus all of its energy on healing. A lot of sickness behavior – being tired, not wanting to do anything, not eating, not wanting to hang around other people – seems kind of like mini-depression.
All of this stuff is regulated by chemicals called cytokines, which are released by immune cells that have noticed an injury or infection or something. They are often compared to a body-wide "red alert" sending the message "sickness detected, everyone to battle stations". This response is closely linked to the idea of "inflammation", the classic example of which is the locally infected area that has turned red and puffy. Most inflammatory cytokines handle the immune response directly, but a few of them – especially interleukin-1B and tumor necrosis factor alpha – cause this depression-like sickness behavior. It is noted that:
In general, animals injected with IL-1ß or TNF-a stay in a corner of their home cage in a hunched posture and show little or no interest in their physical and social environment unless they are stimulated. Specifically, they show decreased motor activity, social withdrawal, reduced food and water intake, increased slow-wave sleep and altered cognition 
Here are some other suspicious facts about depression and inflammation:
– Exercise, good diet and sleep reduce inflammation; they also help depression.
– Stress increases inflammation and is a known trigger for depression.
– Rates of depression are increasing over time, with the condition seemingly very rare in pre-modern non-Westernized societies. This is commonly attributed to the atomization and hectic pace of modern life. But levels of inflammation are also increasing over time, probably because we have a terrible diet that disrupts the gut microbiota that are supposed to be symbioting with the immune system. Could this be another one of the things we think are social that turn out to be biological?
– SSRI antidepressants, like most medications, have about five zillion effects. One of the effects is to reduce the level of inflammatory cytokines in the body. Is it possible that this is why they work, and all of this stuff about serotonin receptors in the brain is a gigantic red herring?
– It's always been a very curious piece of trivia that treating depression comorbid with heart disease significantly decreases your chances of dying from the heart disease. People just sort of nod their heads and say "You know, mind-body connection". But inflammation is known to be implicated in cardiovascular disease. If treating depression is a form of lowering inflammation, this would make perfect sense.
– Rates of depression are much higher in sick people. Cancer patients are especially famous for this. No one gets too surprised here, because having cancer is hella depressing. But it's always been interesting (to me at least) that as far as we can tell, antidepressants treat cancer-induced depression just as well as any other type. Are antidepressants just that good? Or is the link between cancer being sad and cancer causing depression only part of the story, with the other part being that the body's immune response to cancer causes inflammatory cytokine release, which antidepressants can help manage?
– Along with cancer, depression is common in many other less immediately emotion-provoking illnesses like rheumatoid arthritis and diabetes. The common thread among these illnesses is inflammation.
– Inflammation changes the activity level of the enzyme indoleamine 2,3 dioxygenase. This enzyme produces kynurenines which interact with the NMDA receptor, a neurotransmitter receptor implicated in depression and various other psychiatric diseases (in case your first question upon learning about this pathway is the same as mine: yes, kynurenines got their name because they were first found in dog urine).
– Sometimes doctors treat diseases like hepatitis by injecting artificial cytokines to make the immune system realize the threat and ramp up into action. Cytokine administration treatments very commonly cause depression as a side effect. This depression can be treated with standard antidepressants.
– Also, it turns out we can just check and people with depression have more cytokines.
There's also some evidence against the theory. People with depression have more cytokines, but it's one of those wishy-washy "Well, if you get a large enough sample size, you'll see a trend" style relationships, rather than "this one weird trick lets you infallibly produce depression". 
But for me the strongest evidence against is a general feeling that it's very easy to get lots of convincing evidence for a theory in medicine whether or not it's true. 
Twenty years ago, everyone was super-convinced that depression was caused by low serotonin levels. We found that depressed people on average had lower serotonin levels than non-depressed people. We found that giving people drugs that increased serotonin treated depression. We did lots of studies proving serotonin was a vital chemical that regulated mood. We found that genes affecting serotonin-related proteins were linked to depression. We did PET scans that found abnormally high levels of activity in serotonin-related enzymes in the brains of depressed people. It was all very convincing. And right now everyone's pretty sure it's wrong.
Ten years ago, everyone was super-convinced that depression was caused by under-secretion of the neuro-hormone BDNF and subsequent decline in hippocampal neurogenesis. It was dutifully found that depressed people had less BDNF than everyone else, and less hippocampal neurogenesis. Exercise, sleep, good diet, and all the other things that help depression were found to also raise levels of BDNF. Chemical pathways were trotted out by which effective antidepressants would probably raise BDNF levels. I think this theory is still very popular, but for the inflammation theory to be right someone will either have to disprove this one or tie it together with some theory of why inflammation decreases BDNF or low BDNF increases inflammation or something else. I do see some evidence that this is true, but to fully integrate the theories is going to take a lot more than that.
And these are just the two most recent and most famous. We have Freud's psychoanalytic theory of depression, lots of people studying dysregulation of the hypothalamopituitaryadrenocortical axis, some pointers to dysregulation in the second messenger system, et cetera. All of these theories have great evidence.
Point is, now we have another theory that neatly explains how depression starts, how antidepressants work, why diet and exercise are good for you, and all the things all the other theories explained. Maybe the third time's the charm?
A lot of the things in the body are really complex. Inflammation definitely affects serotonin – the indoleamine 2,3 dioxygenase enzyme acts on serotonin's immediate precursor. It affects BDNF levels, as above, which in turn affect hippocampal neurogenesis. The hypothalamopituitaryadrenocortical axis releases cortisol, which downregulates the immune system and decreases the action of inflammatory cytokines. All of the anxiety-inducing life events and intrapsychic conflicts and secret desires to marry your mother that Freud thought caused depression produce a lot of stress, which both releases cortisol and reduces normal ability to regulate inflammatory response.
So basically all of these systems are intimately interconnected, and probably before this is done with researchers will find five more systems intimately interconnected with all of these. It might be that inflammation is the master system which causes a cascade of events in all of the others. It might be that one of the others is the master system. It might be that depression is a collection of multiple different diseases, and some are caused by one thing and others by another. It might be that looking for a "master system" is silly and that the true mathematical relationship between all of these things is such a chaotic process that all you can say is that they all stumbled together into the wrong attractor point and things deteriorated from there.
Anyway, all this is for much smarter people than me to figure out. The question I'm most interested in: can we treat depression by giving people anti-inflammatory drugs?
The answer seems to be: it depends how strongly you object to getting a heart attack.
Aspirin is a great anti-inflammatory drug. It's pretty safe in adults (except for a small risk of GI bleeding) and it decreases risk of cardiovascular disease and cancer as well. If you could treat depression with aspirin, you'd be home free. However, the most convincing review I have seen for aspirin is unimpressed. It points out that some trials have shown negative effects for aspirin, and that long-term use of aspirin can increase intestinal permeability which decreases ability to regulation inflammation which is the opposite of what we want. Right now there isn't much evidence on this issue, but what there is isn't promising.
Most researchers have chosen to focus on celecoxib (Celebrex™®©, a high-tech next-generation anti-inflammatory). Here the evidence is actually very strong. Last month's JAMA Psychiatry contained Effect of anti-inflammatory treatment on depression, depressive symptoms, and adverse effects: a systematic review and meta-analysis of randomized clinical trials, Kohler et al, (2014), which analyzes ten studies with a total of 4000 people taking celecoxib and finds an effect size similar to that of SSRI antidepressants. This is promising and exciting.
They add: "We found no evidence of an increased number of gastrointestinal or cardiovascular events after 6 weeks."
That's probably because they didn't wait long enough. Celecoxib is very closely related to the infamous rofecoxib (Vioxx™®©) which got pulled from the market for quadrupling heart attack risk. Celecoxib is safer; it only increases your risk by some smaller amount depending on dose. Studies conflict, but maybe 33% for a standard regimen?
On the other hand, if ten percent of Americans are on SSRIs right now, and there are 1.5 million heart attacks per year in the US, and celecoxib increases that by 33%, then switching everyone from SSRI to celecoxib would cause…quick Fermi calculation…ignore interactions…50,000 extra heart attacks per year. Ouch.
Celecoxib is a good drug for its indicated uses, which involve treating chronic pain conditions that nothing else can treat safely. But it's hardly something I'd want to start giving to every depressed patient who walks into a psychiatrist's office. Maybe as a third line or fourth line drug for desperate people. But then, we already have plenty of good third-line and fourth-line drugs for desperate people. You want strong psychiatric medication and aren't too concerned about the state of your cardiovascular system? Here, have an antipsychotic!
So in conclusion, I think the inflammatory hypothesis of depression is very likely part of the picture. Whether it's the main part of the picture or just somewhere in the background remains to be seen, but for now it looks encouraging. Anti-inflammatory drugs do seem to treat depression, which is a point in the theory's favor, but right now the only one that has strong evidence behind it has side effects that make it undesirable for most people. There's a lot of room to hope that in the future researchers will learn more about exactly how this cytokine thing works and be able to design antidepressant drugs that target the appropriate cytokines directly. Until then, your best bets are the anti-inflammatory mainstays: good diet, good sleep, plenty of exercise, low stress levels, and all the other things we already know work.
